.btn {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.2s linear;
  border:none;
  outline: none;
  cursor: pointer;
  &01 {
    background-color: #fff;
    color: $primary;
    border: 1px solid transparent;
    border-radius: 18px;
    &:hover {
      background-color: #fff;
      color: $primary;
      border-radius: 0;
      border: 1px solid $primary;
    }
  }
  &02 {
    background-color: $primary;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 18px;
    &:hover {
      background-color: #fff;
      color: $primary;
      border-radius: 0;
      border: 1px solid $primary;
    }
  }
  &03 {
    padding: 14px 20px;
    width: 100%;
    background-color: #577FE3;
    color: #fff;
    transition: all 0.2s linear;
    &:hover {
      opacity: 0.8;
    }
  }
  &04 {
    padding: 10px 20px;
    width: 100%;
    background-color: #41BF8B;
    color: #fff;
    transition: all 0.2s linear;
    &:hover {
      opacity: 0.8;
    }
  }
}